@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

    

.home-container{
    margin-left: 120px;
    margin-top: 180px;
}
.content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
    font-family: 'Red Hat Display', sans-serif;
}
.content-text{
    margin-top: 25px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.content-link{
    color: #1890FF;
    text-decoration: none;
}
.home-button{
    margin-top: 50px;
}