.navbar-container{
    width: 110%;
    background: #1890FF;
    display: flex;
    margin: -10px;
}

.navbar-title{
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 40px;
    margin-bottom: 15px;
}